[submodule ".yadm-project"]
	path = .yadm-project
	url = https://github.com/TheLocehiliosan/yadm.git
[submodule ".pia"]
	path = .pia
	url = https://github.com/d4rkcat/pia.git
[submodule ".evm"]
	path = .evm
	url = https://github.com/rejeep/evm.git
