[submodule ".yadm-project"]
	path = .yadm-project
	url = https://github.com/TheLocehiliosan/yadm.git
[submodule ".hsxkpasswd"]
	path = .hsxkpasswd
	url = https://github.com/bbusschots/hsxkpasswd.git
[submodule ".pia"]
	path = .pia
	url = https://github.com/d4rkcat/pia.git
[submodule ".evm"]
	path = .evm
	url = https://github.com/rejeep/evm.git
[submodule ".i3-layout-manager"]
	path = .i3-layout-manager
	url = https://github.com/klaxalk/i3-layout-manager.git
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
